@use "sass:map";

@mixin mediaQueris($key){
    $breakPoint: (
         'max-xl':(max-width:1399.98px),
         'max-lg':(max-width:1199.98px),
         'max-md':(max-width:991.98px),
         'max-sm':(max-width:767.98px),
         'max-xs':(max-width:575.98px),
         'max-xxs':(max-width:500.98px),

         'min-xl':(min-width:1399.98px),
         'min-lg':(min-width:1199.98px),
         'min-md':(min-width:991.98px),
         'min-sm':(min-width:767.98px),
         'min-xs':(min-width:575.98px),
         'min-xxs': (min-width:500.98px),
    );

    @if map-has-key($breakPoint, $key){
        @media screen and #{inspect(map-get($breakPoint, $key))}{ 
           @content;
        }

    }
}

@mixin circle($radius, $color){
    width:$radius+px;
    height:$radius+px;
    border-radius:50%;
    background:$color;    
}
@mixin head_pora{
    .head{
        display:flex;
        margin-bottom:70px;
        position: relative;
        flex-wrap: wrap;
        @include mediaQueris(max-sm){
            margin-bottom:50px;
        }
    
        .right{
            display:flex;
            flex-direction:column;
    
            h3{
                font-size:29px;
            }
    
            .ps_text{
                width:66%;
                margin-top:10px;
                @include mediaQueris(max-sm){
                    width:100%;
                }
                
                p{
                    font-size:14px;
                    line-height:27px;
                }
            }
        }
        .ps_ptn{
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            a{
                height:40px;
                padding:7px 15px;
                border-radius:50px;
                border:2px solid $primaryColor;
                font-size:15px;
                color:$primaryColor;
                transition:all .3s ease-in-out;
                display:inline-flex;
                align-items:center;
                background-color:#fff;
    
                &:hover{
                    margin-top:2px;
                }
            }
            @include mediaQueris(max-lg){
                margin-top:15px;
            }
        }
        @content;
    }
   
}



