$primaryColor:#5553F5;
$secondryColor:#FED960;
$accent1Color:#D4D3FD;
$accent2Color:#FFF8DF;
$neutralColor:#EFEEFE;
$textColor:#979494;
$headingColor:#313131;

$textFont:'iransans';
$headingFont:'morabba';
$fonticon:'kafelearn';

