.navbar_menu {
    display:flex;
    justify-content:center;
    align-items: center;

    .navbar_toggle{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width:55px;
        height:55px;
        background-color: transparent;
        cursor: pointer;

        &::before{
            content:"\e923";
            font:35px $fonticon;
            color: #3a3a3a;
            position: relative;
            top: 4px;
        }

        span:not(:last-child){
            margin-bottom: 5px
        }

        @include mediaQueris(max-lg){
            display:flex;
		    margin-left:10px;
        }

    }

    .main_menu {
        display: flex;
        flex-direction: row;
    
        li {
            position: relative;
            display:flex;
            justify-content: center;
            
            a {
                padding:.5rem .7rem;
                font-size:14px;
                color:#3a3a3a !important;
                transition: transform .2s;
                position: relative;
                display:flex;
                justify-content: center;
            }

            &> i {
                display: none !important
            }

            .sub-menu{
                display: none
            }

            &.menu-item-has-children{

                &:hover .sub-menu{
                    display:block;
                    position: absolute;
                    top:40px;
                    width: 180px;
                    border-radius: 5px;
                }

                ul{
                    background-color:rgba(224, 201, 190,.5);

                    li:hover a{
                        font-weight:600;
                    }
                    
                }
            }
        }
    
        &>li{

            &>a[aria-current="page"]{

                ::after{
                    content:"";
                    width: 12px;
                    height: 12px;
                    box-shadow: 0 3px 6px 0 rgba(224, 201, 190, 0.46);
                    background-color:$secondryColor;
                    position:absolute;
                    bottom:-10px;
                    border-radius:50%;
                    visibility:visible;
                    transition: visibility .1s;
                }
    
                font-weight:600;
            }
    
            &:hover>a{
                font-weight:600;
            }
        }
    
    }
    
   @include mediaQueris(max-lg){
        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: rgb(14 7 7 / 48%);
            z-index: 999;
            display: none;
            transition: opacity .15s cubic-bezier(.4, 0, .2, 1);

            &.show {
                display: block !important;
                pointer-events: auto
            }
        }

        .menu_container {
            display: block;
            position: fixed !important;
            top: 0;
            right: -100%;
            width: 75%;
            height: 100vh;
            background-color: #fff;
            z-index: 9999999 !important;
            padding: 0;
            overflow-x: hidden;
            overflow-y: scroll;
            transition: all .5s;
            border-radius:20px 0 0 20px;

            .main_menu {
                flex-direction: column;
                padding-right: 15px;
                margin-top: 20px;

                li {
                    justify-content:flex-start;

                    a {
                        font-size:15px;
                    }

                    &.menu-item-has-children{
                        flex-direction:column;

                        &> i {
                            display: flex !important;
                            width: 25px;
                            position: absolute;
                            right: 21%;
                            top: 8px;
                        }

                        &:hover .sub-menu{
                            position: unset;
                            display:none;
                            width:100%;
                            border-radius:unset;
                        }
                    }

                    .iconback::before{
                        font:18px $fonticon;
                        content: "\e900";
                        display:block;
                        transform:rotate(-90deg);
                    }

                    .iconback.iconopen_menu::before{
                        transform:rotate(90deg);
                    }
                    
                }

                &> li{
                    &::after{
                        display:none;
                    }

                    &:hover{
                        a{
                            color:$primaryColor !important;
                            font-weight:500;
                        } 
                        li a{
                            color:#3a3a3a !important;
                        }

                    }

                    &> a[aria-current="page"]::after{
                        right: -7px;
                        bottom: 11px;
                    }
                }
            }
        }
   }
}





