*,::before,::after {
	margin:0;
	border:0;
	outline:0;
	box-sizing:border-box;
}
html,body,p,a,img,strong,b,u,i,ul,li,h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font:500 100%/20px $textFont;
	direction:rtl;
	color:$textColor;
	text-align:right;
}
h1,h2,h3,h4,h5,h6 {
    font-family:$headingFont;
	color:$headingColor;
	line-height:40px;
	font-weight:600;
	user-select:none;
}
p,a,strong,b,u,i,span,li{
	user-select:none;
}
a,li,li:hover,a:hover,a:focus,a:active {
	text-decoration:none;
	list-style:none;
}
a,a:active,a:focus,input {
	outline:none;
}
button {
  background-color:transparent;
  padding:0;
  border:0;
  outline:0;
  cursor:pointer;
}
input {
  background-color:transparent;
  padding:0;
  border:0;
  outline:0;
}
img {
	max-width:100%;
}
body {
	margin:0 auto;
	overflow-x:hidden;
	direction:rtl;
}
* {
	scrollbar-width: none;
	scrollbar-color: $accent1Color #ececec;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 12px;
  }
  
  *::-webkit-scrollbar-track {
	background: #ececec;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: $accent1Color;
	border-radius: 20px;
	border: 3px solid #ececec;
  }
